  <footer class="py-6 text-center text-[#1c1c1c] bg-[#f5f5f0]">
    ©  2025 All Rights Reserved   |  Kotanlar Turizm İnşaat Ticaret Ltd.Şti.
  </footer>

  <script src="/js/aos.js"></script>
  <script src="/scripts-path.js"></script>

  </body>
</html>
